/* You can add global styles to this file, and also import other style files */
.navbar {
  box-shadow: none;
  border-bottom: 1px solid grey;
}
.text-grey {
  color: grey !important;
}
#loader {
  width: 100%;
  background-color: #343a40e3;
  position: absolute;
  z-index: 1;
  height: 100%;
  left: 0;
  text-align: center;
}
